{% extends 'base.html'%}

{% block content %}
    <div class="row">
        <h3 class='center-align'>Add a Recpie</h3>
        <hr class='underline blue-grey'>
    </div>

    <div class="row">
        <form method="POST" class="col s12 m8 offset-m2" action="{{ url_for('add_recepie') }}">

            <!-- Recepie Name -->
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id='recepie_name' name='recepie_name' pattern='^[^\s][A-Za-z0-9\s]{1,100}$' class='validate' required>
                    <label for="recepie_name">Recipe Name</label>
                </div>
            </div>

            <!-- Category Name -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name}}">{{ category.category_name}}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Recipe category</label>
                </div>
            </div>

            <!-- Image URL -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="image_url" name="image_url" type="url" pattern="https?://.+"  class="validate" required>
                    <label for="image_url">Image url</label>
                    <span class="helper-text" data-error="enter valid URL" data-success="right"></span>
                </div>
            </div>

            <!-- Number of serves -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="serves" name="serves" type="text"  pattern="^[1-9][0-9]*$" class="validate" required>
                    <label for="serves">Number of serves</label>
                </div>
            </div>

            <!-- Prep time -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="prep_time" name="prep_time" type="text" pattern="^[1-9][0-9]*$" class="validate" required>
                    <label for="prep_time">Prepping time (in minutes)</label>
                </div>
            </div>

            <!-- Ingredients -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="ingredients" name="ingredients" class="materialize-textarea validate" required></textarea>
                    <label for="ingredients">Ingredients</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Write every new ingredient on a new line.</span>
                </div>
            </div>

            <!-- Instructions -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="instructions" name="instructions" class="materialize-textarea validate" required></textarea>
                    <label for="instructions">Instructions</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Write every new instruction on a new line.</span>
                </div>
            </div>

            <!-- Tips -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="tips" name="tips" class="materialize-textarea"></textarea>
                    <label for="tips">Tips</label>
                </div>
            </div>

            <!-- Comment Section? -->
            <!-- Submit -->
            <!-- Add a cancel button -->
            <div class="row">
                <div class="col s12">
                    <button type="submit" class="col s4 btn blue-grey darken-4">Add a Recpie</button>
                    <a href="{{ url_for('profile', username=session['user']) }}" class="btn blue-grey darken-4 col s4 right">Cancel</a>
                </div>     
            </div>
        </form>
    </div>

{% endblock %}
