<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>

    <header>
        <nav>
            <!-- Desktop Navigation -->
            <div class="nav-wrapper blue-grey darken-4 whilte-text">
                <a href="#" class="brand-logo">Logo</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('get_recepies') }}">Recepies</a></li>
                    <!-- Add session user stuff here -->
                    {% if session.user %}
                        <!-- Add user profile -->
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_recepie') }}">Add a Recepie</a></li>

                        {% if session.user|lower == "admin" %}
                            <!-- Add Categories -->
                            <li><a href="{{ url_for('categories') }}">Categories</a></li>

                        {% endif %}
                        <li><a href="{{  url_for('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                    {% endif%}

                </ul>
            </div>
        </nav>

        <!-- Mobile Navigation -->
        <ul class="sidenav blue-grey darken-2 white-text" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('get_recepies') }}">Recepies</a></li>
            <!-- Add session user stuff here -->
            {% if session.user %}
            <!-- Add user profile -->
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('add_recepie') }}">Add a Recepie</a></li>

                {% if session.user|lower == "admin" %}
                    <!-- Add Categories -->
                    <li><a href="{{ url_for('categories') }}">Categories</a></li>

                {% endif %}
                <!-- Add logout -->
                <li><a href="{{  url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
            {% endif%}
            
        </ul>
    </header>

    <!-- Get flashed messages -->
    <section>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="center align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith%}
    </section>


    <!-- Added main class to debug sticky footer - https://materializecss.com/footer.html -->
    <main>
        {% block content %}
        {% endblock %}
    </main>



    <footer class="page-footer blue-grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col s12 l6">
                    <h6>
                        FOR FOOD LOVERS!!
                    </h6>
                    <p>This platform is for all the food lovers. Be part of a growing community and add your new and creative recipes here</p>
                    <p></p>
                    <p>You'll find all sorts of recipes here which will make your day</p>
                </div>
                <div class="col s12 l4 offset-l2">
                    <h6>
                        NEWSLETTER
                    </h6>
                    <p>
                        Subscribe to the newsletter to stay connected and receive updates regarding new recepies.
                    </p>
                    <form action="" method="POST">
                        <div class="input-field ">
                            <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="validate white-text">
                            <label for="email">Email</label>
                        </div>
                        <!-- Subscribe button -->
                        <button type="submit" class="col s4">Subscribe</button> 
                    </form>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <!-- Jquery Script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>