{% extends 'base.html'%}



{% block content %}
<!-- Add a picture -->
    <div id='home-image'> 
    </div>

<!-- Add quote -->

<!-- Add multiple signs, one for recepies and one for sign ups -->
    <div class="row">
        <div class="col s6 m4 offset-m2">
            Recepies Here
            Explore the recepies <a href="{{ url_for('get_recepies') }}">here</a>
        </div>
        <!-- Signup section -->
        <div class="col s6 m4">
            <div class="vertical-line">
                Sign up Here
                <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                    <a href="{{ url_for('sign_up') }}">Register Account</a>
                </button>
            </div>
        </div>
    </div>

{% endblock %}
