{% extends 'base.html'%}



{% block content %}
<!-- Add a picture -->
    <div>
        <img class="responsive-img" width='100%' src="https://lorempixel.com/580/250/nature/1">        
    </div>


<!-- Add multiple signs, one for recepies and one for sign ups -->
    <div class="row">
        <div class="col s6 m4 offset-m2">
            Recepies Here
        </div>
        <!-- Signup section -->
        <div class="col s6 m4">
            <div class="vertical-line">
                Sign up Here
            </div>
        </div>
    </div>

{% endblock %}
