{% extends 'base.html'%}
{% block content %}

    <!-- Receipe Name Title -->
    <div class="row">
        <h3 class="center-align">{{ recepie.recepie_name }}</h3>
        <hr class="blue-gray underline">
    </div>


    <div class="container">
        <!-- Information and Image -->
        <div class="row">
            <div class="col s4">
                <h6>Prepartion Time: {{ recepie.prep_time }}</h6>
                <h6>Serving Size: {{ recepie.Servings }}</h6>
                <h6>Category: {{ recepie.category_name }}</h6>
                <h6>Created By: {{ recepie.created_by }}</h6>
            </div>

            <div class="col s8">
                <img class="responsive-img" src="{{ recepie.image_url}}" alt="recepie image">
            </div>

        </div>
        
        <!-- Instruction and Ingredients -->
        <div class="row">
            <div class="col s4 underline">
                <h4>Ingredients</h4>

                <ul>
                    {% for item in recepie.ingredients.splitlines() %}
                        <li>
                            <p>
                                {{item}}
                            </p>
                        </li>
                    {% endfor%}
                </ul>
            </div>

            <div class="col s8">
                <h4>Method</h4>

                <ol>
                    {% for item in recepie.steps.splitlines() %}
                        <li>
                            <p>
                                {{item}}
                            </p>
                        </li>
                    {% endfor%}
                </ol>
            </div>

        </div>
        <!-- Tips -->
        <h4>Tips</h4>
        <div class="row">
            <div class="col">
                <p>{{ recepie.Tips }}</p>
            </div>
        </div>
        <!-- Comments Section -->
        <h4>Comments</h4>
        {% if session.user %}
        <h6>Any feedback or suggestions?</h6>
        <div class="row">
            <form class="col s12" method='POST' action="{{ url_for('add_comment', recepie_id=recepie._id)}}">
                <div class="row">
                    <div class="input-field col s10">
                      <textarea id="comment" name="comment" class="materialize-textarea"></textarea>
                      <label for="comment">Add your thoughts!! </label>
                    </div>
                   
                    <div class="col s2">
                        <button type="submit" class="btn center align right recepie-button blue-grey darken-4">Comment!</button>
                    </div>     
                  
                  
                </div>
            </form>
        </div>
        {% endif %}

        <div class="row">
            <div class="col s12">
                {% for comment in recepie.comments %}
                    <ul>
                        <li>
                            <p>
                                <h6>
                                    {{comment[0]}}, {{comment[1].date()}}
                                    {% if session['user'] == recepie.created_by or session['user'] == 'admin' or session['user'] == comment[0]%}
                                        <a href="{{ url_for('edit_comment', recepie_id=recepie._id, loop_index=loop.index)}}">
                                            <i class="fas fa-edit icon-color right"></i>
                                        </a>
                                            
                                        <a href="{{ url_for('delete_comment', recepie_id=recepie._id, loop_index=loop.index)}}" class="right">
                                            <i class="fas fa-trash-alt icon-color"></i>
                                        </a>
                                    {% endif %}
                                </h6>
                                
                                <p>
                                    {{comment[2]}}
                                    
                                </p>
                                <br>
                                
                            </p>
                            
                        </li>
                        
                    </ul>

                {% endfor %}
            </div>
        </div>


    </div>

{% endblock %}