{% extends 'base.html'%}



{% block content %}

    <!-- Welcome -->
    <div class="row center-align">
        <div class="col s12 m8 offset-m2">
            <h3>
                Welcome, {{ users_name}}!!
            </h3>  
            <hr class="profile-underline blue-grey">
        </div>    
    </div>

    <!-- Add ing recepies of the user -->
    <div class="row">
        <div class="col s5 m4 offset-m2">
            <h5>My Recipes</h5>
        </div>

        <div class="col s7 m4 right-align">
            <h5>
                <a href="{{ url_for('add_recepie') }}">
                    Add a recipe
                </a>    
            </h5>
        </div>
    </div>

    <!-- All the recepies  -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <ul>
                {% for item in recepie_list %}
                    <li>
                        <div class="row">
                            <div class="col s5">
                                <h5>{{ item.recepie_name }}</h5>
                            </div>
                            <div class="col s7">
                        
                                 <a href="{{ url_for('edit_recepie', recepie_id=item._id) }}" class="btn center align right profile-button blue-grey darken-4">
                                     Edit
                                 </a>
                            
                            
                                 <a class="btn modal-trigger center align right profile-button blue-grey darken-4" href="#{{ loop.index }}">Delete</a>
                                 <!-- Modal Structure -->
                                 <div id="{{ loop.index }}" class="modal left-align">
                                     <div class="modal-content">
                                         <h4>Are you sure you want to delete {{ item.recepie_name }} ?</h4>
                                     </div>
                                     <div class="modal-footer">
                                         <a href="#" class='modal-close btn-flat'>Cancel</a>
                                         <a href="{{ url_for('delete_recepie', recepie_id=item._id) }}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
                                     </div>
                                 </div>
                                
                            </div>
                        </div>
                        
                        <!-- Add edit and delete functionality here -->
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    


{% endblock %}
