{% extends 'base.html'%}
{% block content %}

    <div class="container">
        <!-- Mobile Recepie -->
        <div class="row show-on-small hide-on-med-and-up">
            <div class="col s12">
                <h3 class="center-align">Recepies</h3>
                <div class="row">
                    {% for item in recepies%}
                        <div class="col s12 display-recipes">
                            <a href="#">
                                <img class="recipe_img center-align" src="{{ item.image_url }}" alt="recipe_mobile">
                                <span class="card-title recipes-title">{{ item.recepie_name }}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Desktop Recepie -->
        <div class="row hide-on-small-only">
            <div class="col s12">
                <h3 class="center-align">Recepies</h3>
                <div class="row">
                    {% for item in recepies%}
                        <div class="col s4 display-recipes">
                            <a href="#">
                                <img class="recipe_img center-align" src="{{ item.image_url }}" alt="recipe_mobile">
                                <span class="card-title recipes-title">{{ item.recepie_name }}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}